################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Teeltonika.Application/bin/Debug/netcoreapp3.1
